# Pastas de build
Debug/
Release/
x64/
x86/
ipch/
*.obj
*.exe
*.pdb
*.ilk
*.log

# Arquivos de configuração do Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

# Arquivos temporários
*.tmp
*.cache
*.log

# Arquivos de backup do editor
*~
*.swp

# Outras pastas que não devem ir para o repositório
.vs/